html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #f6f4f2;
}

li {
  list-style: none;
}

body {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

.search-bar{
  border:none;
  outline:none;
  width:350px;
}